@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
body {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;

}



.m-1p5
{
    margin: 1.5%;
}

.bg-rpt-page
{
    background-image: url("img/bgimg.png");
    background-repeat: repeat;
}


.dark-grey-translucent-bg
{
    background: rgba(0, 0, 0, 0.75);
}
.grey-translucent-bg 
{
    background: rgba(0, 0, 0, 0.12);
}


@media screen and (max-width: 768px) {
   
   .carousel-caption h4, h6
   {
    font-size: small;
   }
   .carousel-caption
   {
    padding: 0;
    
    opacity: 0.8;
   }
   .carousel-caption h6
   {
    margin-bottom: 0;
   }
}