@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
body {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}


.col
{
    margin: 1.5%;
   /* border-radius: 10%;*/
    
}





.dark-grey-translucent-bg
{
    background: rgba(0, 0, 0, 0.75);
}
.grey-translucent-bg 
{
    background: rgba(0, 0, 0, 0.12);
}

